
#page_font{
    font-family:'Comic Sans MS';
}
#res_name{
    text-align:center
}

#res_links{
    font-size:12px;
}

#link_1{
    padding-left:1em;
}
#link_2{
    padding-left:2em;
}
#link_3{
    padding-left:2em;
}
#page_footer{
    text-align:center;
    font-size:12px;
    font-weight:bold;
    
}