a{
    text-decoration:none;
    background-color:none;
    color:blue;
}

a:visited{
    color:forestgreen;
    text-decoration:none;
    background-color:none;
}


a:hover{
    text-decoration:underline;
    color:crimson;
    font-size:25px;
    background-color:aqua;
}

a:active{
    font-weight:bold;
    color:indigo;
    text-decoration:none;
    background-color:white;
    font-size:22px;
 
}

ul{
    margin-left:90px;
}

tr{
    text-align:center;
}
caption{
    text-align:center;
    font-weight:bold;
    font-size:120%;
    margin-bottom:5px;
}
    

table{
    width:85%;
    margin-right:auto;
    margin-left:auto;
}

table, th, td{
    border:1px solid black;
    border-collapse:collapse;
}

th
{
    background-color:gray;
    text-align:center;
}

